.nav{
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: flex-start;
}

.links{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
}

.logo{
    max-height: 30px;
    max-width: 30px;
    margin-left: 20px;
}